body
{
	background-color: rgb(75, 75, 75);
}

h1
{
	color: purple;
	text-align: center;
}

#title
{
	width: 400px;
	background-color: gray;
	border: 2px solid black;
	margin: 0 auto;
}

#text
{
	width: 400px;
	height: 150px;
	background-color: gray;
	border: 2px solid black;
	margin: 0 auto;
	margin-top: 25px;
}

#buttons
{
	margin-left: 150px;
}

button
{
	background-color: rgb(75, 75, 75);
	color: purple;
}

p
{
	text-align: center;
}