body
{
	background-color: rgb(75, 75, 75);
}

h1
{
	color: purple;
	text-align: center;
}

#box
{
	width: 400px;
	height: 0 auto;
	background-color: gray;
	border: 2px solid black;
	margin: 0 auto;
}

#box2
{
	width: 400px;
	height: 0 auto;
	background-color: gray;
	border: 2px solid black;
	margin: 0 auto;
	margin-top: 25px;
}

#textinput
{
		margin-left: 125px;
}

#buttons
{
		margin-left: 150px;
}

input
{
	background-color: rgb(75, 75, 75);
	color: purple;
}

textarea
{
	background-color: rgb(75, 75, 75);
	color: purple;
}

button
{
	background-color: rgb(75, 75, 75);
	color: purple;
}

p
{
	text-align: center;
}